<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "simpleCsvConventer" class="com.codecool.scc.controllers.SimpleCsvConventer">
        <constructor-arg ref="fileReader"/>
    </bean>

    <bean id = "fileReader" class="com.codecool.scc.fileProcessing.FileReader"/>

    <bean id = "invalidOutputTypeException" class="com.codecool.scc.outputProcessing.InvalidOutputTypeException"/>

    <bean id = "jsonOutputFormatter" class = "com.codecool.scc.outputProcessing.JsonOutputFormatter"/>
    <bean id = "tableOutputFormatter" class = "com.codecool.scc.outputProcessing.TableOutputFormatter"/>
    <bean id = "xmlOutputFormatter" class = "com.codecool.scc.outputProcessing.XmlOutputFormatter"/>

    <bean id = "outputFormatterFactory" class="com.codecool.scc.outputProcessing.OutputFormatterFactory"/>
</beans>